In [1]:
from pprint import pprint
import urllib.request
import json
import pandas as pd
import pymongo


##opening and reading JSON FILE

with open("Water Consumption And Cost (2013 - Feb 2022).json", 'r') as file:
    data = json.load(file)

In [2]:
data['meta']['view'].keys()

# len(data['meta']['view']['columns'])

dict_keys(['id', 'name', 'assetType', 'attribution', 'averageRating', 'category', 'createdAt', 'description', 'displayType', 'downloadCount', 'hideFromCatalog', 'hideFromDataJson', 'indexUpdatedAt', 'newBackend', 'numberOfComments', 'oid', 'provenance', 'publicationAppendEnabled', 'publicationDate', 'publicationGroup', 'publicationStage', 'rowClass', 'rowsUpdatedAt', 'rowsUpdatedBy', 'tableId', 'totalTimesRated', 'viewCount', 'viewLastModified', 'viewType', 'approvals', 'clientContext', 'columns', 'grants', 'metadata', 'owner', 'query', 'rights', 'tableAuthor', 'tags', 'flags'])

In [3]:
column_name = []

for i in data['meta']['view']['columns']:
    column_name.append(i['name'])
    
print(column_name)

['sid', 'id', 'position', 'created_at', 'created_meta', 'updated_at', 'updated_meta', 'meta', 'Development Name', 'Borough', 'Account Name', 'Location', 'Meter AMR', 'Meter Scope', 'TDS #', 'EDP', 'RC Code', 'Funding Source', 'AMP #', 'Vendor Name', 'UMIS BILL ID', 'Revenue Month', 'Service Start Date', 'Service End Date', '# days', 'Meter Number', 'Estimated', 'Current Charges', 'Rate Class', 'Bill Analyzed', 'Consumption (HCF)', 'Water&Sewer Charges', 'Other Charges']

In [42]:


data.keys()
data['data']

'2020-01'

In [5]:
df = pd.DataFrame(data['data'], columns=column_name)

df.head()

,sid,id,position,created_at,created_meta,updated_at,updated_meta,meta,Development Name,Borough,...,Service End Date,# days,Meter Number,Estimated,Current Charges,Rate Class,Bill Analyzed,Consumption (HCF),Water&Sewer Charges,Other Charges
0,row-bwgg~psms~swfy,00000000-0000-0000-9F8F-6345A927D246,0,1681246024,None,1681246024,None,{ },BAISLEY PARK,QUEENS,...,2020-01-26T00:00:00,34,K13060723,N,196.35,Basic Water and Sewer,Yes,19,196.35,0
1,row-iqig-w7tc~x5ij,00000000-0000-0000-61A2-85E32671746E,0,1681246024,None,1681246024,None,{ },BAISLEY PARK,QUEENS,...,2020-02-24T00:00:00,29,K13060723,N,258.35,Basic Water and Sewer,Yes,25,258.35,0
2,row-hwbj~4ji9.3qip,00000000-0000-0000-E6C5-B7CD9AF05E2E,0,1681246024,None,1681246024,None,{ },BAISLEY PARK,QUEENS,...,2020-03-23T00:00:00,28,K13060723,N,217.02,Basic Water and Sewer,Yes,21,217.02,0
3,row-c74x_bj7q-8jcq,00000000-0000-0000-8431-81D226ABAF0F,0,1681246024,None,1681246024,None,{ },BAISLEY PARK,QUEENS,...,2020-04-23T00:00:00,31,K13060723,N,103.34,Basic Water and Sewer,Yes,10,103.34,0
4,row-7mki-h842-mp5t,00000000-0000-0000-D410-A05CCB549EB6,0,1681246024,None,1681246024,None,{ },BAY VIEW,BROOKLYN,...,2020-01-26T00:00:00,34,E17250205,N,72.34,Basic Water and Sewer,Yes,7,72.34,0

In [8]:
#Finding columns with constant values

constant_column = [column for column in df.columns if df[column].nunique() == 1]

constant_column

['position', 'created_at', 'updated_at', 'meta', 'Vendor Name']

In [10]:

try:
    df.drop(constant_column, axis=1, inplace=True)
except KeyError:
    print()

In [11]:
df.describe()

,sid,id,created_meta,updated_meta,Development Name,Borough,Account Name,Location,Meter AMR,Meter Scope,...,Service End Date,# days,Meter Number,Estimated,Current Charges,Rate Class,Bill Analyzed,Consumption (HCF),Water&Sewer Charges,Other Charges
count,50315,50315,0,0,50315,50315,50315,49487,49805,12782,...,50308,50308,50315,50315,50315,50279,50315,50315,50315,50315
unique,50315,50315,0,0,111,7,117,305,3,59,...,1114,247,795,2,8811,5,2,2017,8753,234
top,row-bwgg~psms~swfy,00000000-0000-0000-9F8F-6345A927D246,NaN,NaN,FHA REPOSSESSED HOUSES (GROUP V),FHA,FHA REPOSSESSED HOUSES (GROUP V),BLD 01,AMR,Community Center,...,2019-03-24T00:00:00,29,UN-METERED,N,38.07,Basic Water and Sewer,Yes,0,0,0
freq,1,1,NaN,NaN,4765,23460,4759,4459,43782,1228,...,594,12062,179,41499,2636,50175,49235,3701,2309,47924

In [12]:
pd.set_option('display.max_columns', None)

pd.to_datetime(df['Service End Date'], format='%Y-%m-%dT%H:%M:%S', errors='raise')

df

,sid,id,created_meta,updated_meta,Development Name,Borough,Account Name,Location,Meter AMR,Meter Scope,TDS #,EDP,RC Code,Funding Source,AMP #,UMIS BILL ID,Revenue Month,Service Start Date,Service End Date,# days,Meter Number,Estimated,Current Charges,Rate Class,Bill Analyzed,Consumption (HCF),Water&Sewer Charges,Other Charges
0,row-bwgg~psms~swfy,00000000-0000-0000-9F8F-6345A927D246,None,None,BAISLEY PARK,QUEENS,BAISLEY PARK,BLD 09,AMR,BLD 09,91,240,Q009100,FEDERAL,NY005010910P,8562430,2020-01,2019-12-23T00:00:00,2020-01-26T00:00:00,34,K13060723,N,196.35,Basic Water and Sewer,Yes,19,196.35,0
1,row-iqig-w7tc~x5ij,00000000-0000-0000-61A2-85E32671746E,None,None,BAISLEY PARK,QUEENS,BAISLEY PARK,BLD 09,AMR,BLD 09,91,240,Q009100,FEDERAL,NY005010910P,8667039,2020-02,2020-01-26T00:00:00,2020-02-24T00:00:00,29,K13060723,N,258.35,Basic Water and Sewer,Yes,25,258.35,0
2,row-hwbj~4ji9.3qip,00000000-0000-0000-E6C5-B7CD9AF05E2E,None,None,BAISLEY PARK,QUEENS,BAISLEY PARK,BLD 09,AMR,BLD 09,91,240,Q009100,FEDERAL,NY005010910P,8759719,2020-03,2020-02-24T00:00:00,2020-03-23T00:00:00,28,K13060723,N,217.02,Basic Water and Sewer,Yes,21,217.02,0
3,row-c74x_bj7q-8jcq,00000000-0000-0000-8431-81D226ABAF0F,None,None,BAISLEY PARK,QUEENS,BAISLEY PARK,BLD 09,AMR,BLD 09,91,240,Q009100,FEDERAL,NY005010910P,8870760,2020-04,2020-03-23T00:00:00,2020-04-23T00:00:00,31,K13060723,N,103.34,Basic Water and Sewer,Yes,10,103.34,0
4,row-7mki-h842-mp5t,00000000-0000-0000-D410-A05CCB549EB6,None,None,BAY VIEW,BROOKLYN,BAY VIEW,BLD 25 - Community Center,NONE,Community Center,92,670,K209200,MIXED FINANCE/LLC1,NY005020920P,8560969,2020-01,2019-12-23T00:00:00,2020-01-26T00:00:00,34,E17250205,N,72.34,Basic Water and Sewer,Yes,7,72.34,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50310,row-u9qh_bpj4.yey3,00000000-0000-0000-452A-B8733CA80846,None,None,WEST TREMONT AVENUE-SEDGWICK AVENUE AREA,BRONX,WEST TREMONT AVENUE-SEDGWICK AVENUE AREA,None,None,None,246,325,B024600,FEDERAL,None,11754984,2022-09,2022-09-20T00:00:00,2022-09-21T00:00:00,1,E13084395,N,43139.82,Basic Water and Sewer,Yes,204,43139.82,0
50311,row-xw54.i6vd.zb8g,00000000-0000-0000-59D6-BE4CDA2501BE,None,None,WEST TREMONT AVENUE-SEDGWICK AVENUE AREA,BRONX,WEST TREMONT AVENUE-SEDGWICK AVENUE AREA,None,None,None,246,325,B024600,FEDERAL,None,12064286,2022-12,2022-09-21T00:00:00,2022-12-20T00:00:00,90,E13084395,N,33422.14,Basic Water and Sewer,Yes,204,33422.14,0
50312,row-ccvw.vpcy-kfer,00000000-0000-0000-CE0D-20120A6C9DFE,None,None,WILLIAMSBURG,BROOKLYN,WILLIAMSBURG,BLD 13,AMR,STORE 23-26,2,325,K000200,FEDERAL,NY005000020P,11009439,2022-02,2021-12-29T00:00:00,2022-02-25T00:00:00,58,K14211089,Y,73.61,Basic Water and Sewer,Yes,204,73.61,0
50313,row-3wvq~q6yi_khtp,00000000-0000-0000-37AD-2FAF50B0551C,None,None,WILLIAMSBURG,BROOKLYN,WILLIAMSBURG,BLD 21 - Community Center,AMR,Community Center,2,325,K200200,FEDERAL,NY005000020P,11054876,2022-02,2021-12-30T00:00:00,2022-02-23T00:00:00,55,E15220518,N,63.71,Basic Water and Sewer,Yes,204,63.71,0
50314,row-x6m6-8dz7~n4ke,00000000-0000-0000-FC2D-4CE5F27C4FB4,None,None,WILLIAMSBURG,BROOKLYN,WILLIAMSBURG,BLD 13,AMR,STORE 20-21,2,325,K000200,FEDERAL,NY005000020P,11011290,2022-02,2021-12-29T00:00:00,2022-02-16T00:00:00,49,V52268797,N,62.19,Basic Water and Sewer,Yes,204,62.19,0

In [14]:
#Checking if any date has wrong formating

try:
    pd.to_datetime(df['Service End Date'], format='%Y-%m-%dT%H:%M:%S', errors='raise')
    # do something
except ValueError:
    print("Dateformat is not constant")
    pass

In [15]:
try:
    pd.to_datetime(df['Service Start Date'], format='%Y-%m-%dT%H:%M:%S', errors='raise')
    # do something
except ValueError:
    print("Dateformat is not constant")
    pass

In [16]:
#finding count of null values in colums

na_counts = df.isnull().sum()
na_counts

sid                        0
id                         0
created_meta           50315
updated_meta           50315
Development Name           0
Borough                    0
Account Name               0
Location                 828
Meter AMR                510
Meter Scope            37533
TDS #                      0
EDP                        0
RC Code                    0
Funding Source            76
AMP #                    122
UMIS BILL ID               0
Revenue Month              0
Service Start Date         7
Service End Date           7
# days                     7
Meter Number               0
Estimated                  0
Current Charges            0
Rate Class                36
Bill Analyzed              0
Consumption (HCF)          0
Water&Sewer Charges        0
Other Charges              0
dtype: int64

In [17]:
df.drop(["created_meta","updated_meta"], axis=1, inplace=True)

In [18]:
date_na=df[df["Service Start Date"].isna()]

df = df.drop(date_na.index)

In [20]:
df["Meter AMR"].unique()

array(['AMR', 'NONE', None, 'Not Applicable'], dtype=object)

In [46]:
df["Revenue Month"] = pd.to_datetime(df["Revenue Month"], format='%Y-%m-%d')

In [59]:
# filtering data as we are only considering data from 2013 and 2020

df = df.loc[(df["Revenue Month"] >'2012-12-31') | (df["Revenue Month"] < '2021-01-01')]

len(df)

50308

In [69]:
#Water&Sewer Charges,Other Charges,Estimated,Bill Analyzed,TDS #,EDP,RC Code,Location,Meter AMR,Funding Source,sid,id
clean_data = df[["Development Name","Borough","Account Name","Location","UMIS BILL ID","Revenue Month","Service Start Date","Service End Date","# days","Meter Number","Consumption (HCF)","Rate Class"]]

In [70]:
clean_data.head()

,Development Name,Borough,Account Name,Location,UMIS BILL ID,Revenue Month,Service Start Date,Service End Date,# days,Meter Number,Consumption (HCF),Rate Class
0,BAISLEY PARK,QUEENS,BAISLEY PARK,BLD 09,8562430,2020-01-01,2019-12-23T00:00:00,2020-01-26T00:00:00,34,K13060723,19,Basic Water and Sewer
1,BAISLEY PARK,QUEENS,BAISLEY PARK,BLD 09,8667039,2020-02-01,2020-01-26T00:00:00,2020-02-24T00:00:00,29,K13060723,25,Basic Water and Sewer
2,BAISLEY PARK,QUEENS,BAISLEY PARK,BLD 09,8759719,2020-03-01,2020-02-24T00:00:00,2020-03-23T00:00:00,28,K13060723,21,Basic Water and Sewer
3,BAISLEY PARK,QUEENS,BAISLEY PARK,BLD 09,8870760,2020-04-01,2020-03-23T00:00:00,2020-04-23T00:00:00,31,K13060723,10,Basic Water and Sewer
4,BAY VIEW,BROOKLYN,BAY VIEW,BLD 25 - Community Center,8560969,2020-01-01,2019-12-23T00:00:00,2020-01-26T00:00:00,34,E17250205,7,Basic Water and Sewer

In [71]:
na_counts = clean_data.isnull().sum()
na_counts

Development Name        0
Borough                 0
Account Name            0
Location              828
UMIS BILL ID            0
Revenue Month           0
Service Start Date      0
Service End Date        0
# days                  0
Meter Number            0
Consumption (HCF)       0
Rate Class             36
dtype: int64

In [74]:
len(clean_data)

clean_data[clean_data["Location"].isnull()]

,Development Name,Borough,Account Name,Location,UMIS BILL ID,Revenue Month,Service Start Date,Service End Date,# days,Meter Number,Consumption (HCF),Rate Class
693,FHA REPOSSESSED HOUSES (GROUP X),FHA,FHA REPOSSESSED HOUSES (GROUP X),None,8791460,2020-03-01,2020-01-03T00:00:00,2020-04-02T00:00:00,90,K96779329,72,None
817,OCEAN BAY APARTMENTS (OCEANSIDE),QUEENS,OCEAN BAY APARTMENTS (OCEANSIDE),None,8797340,2020-03-01,2020-01-10T00:00:00,2020-04-09T00:00:00,90,N51387763,3,Basic Water and Sewer
818,OCEAN BAY APARTMENTS (OCEANSIDE),QUEENS,OCEAN BAY APARTMENTS (OCEANSIDE),None,8627522,2020-01-01,2020-01-10T00:00:00,2020-02-09T00:00:00,30,R32599613,1,Basic Water and Sewer
819,OCEAN BAY APARTMENTS (OCEANSIDE),QUEENS,OCEAN BAY APARTMENTS (OCEANSIDE),None,8697716,2020-03-01,2020-02-09T00:00:00,2020-03-11T00:00:00,31,R32599613,1,Basic Water and Sewer
820,OCEAN BAY APARTMENTS (OCEANSIDE),QUEENS,OCEAN BAY APARTMENTS (OCEANSIDE),None,8797328,2020-03-01,2020-03-11T00:00:00,2020-04-09T00:00:00,29,R32599613,1,Basic Water and Sewer
...,...,...,...,...,...,...,...,...,...,...,...,...
50307,WSUR (SITE C) 589 AMSTERDAM AVENUE,MANHATTAN,WEST SIDE URBAN RENEWAL (SITE C),None,12167090,2023-01-01,2022-12-27T00:00:00,2023-01-19T00:00:00,23,9010467,204,Basic Water and Sewer
50308,WEST TREMONT AVENUE-SEDGWICK AVENUE AREA,BRONX,WEST TREMONT AVENUE-SEDGWICK AVENUE AREA,None,11117491,2022-03-01,2021-12-20T00:00:00,2022-03-21T00:00:00,91,E13084395,204,Basic Water and Sewer
50309,WEST TREMONT AVENUE-SEDGWICK AVENUE AREA,BRONX,WEST TREMONT AVENUE-SEDGWICK AVENUE AREA,None,11449341,2022-06-01,2022-03-21T00:00:00,2022-06-20T00:00:00,91,E13084395,204,Basic Water and Sewer
50310,WEST TREMONT AVENUE-SEDGWICK AVENUE AREA,BRONX,WEST TREMONT AVENUE-SEDGWICK AVENUE AREA,None,11754984,2022-09-01,2022-09-20T00:00:00,2022-09-21T00:00:00,1,E13084395,204,Basic Water and Sewer
50311,WEST TREMONT AVENUE-SEDGWICK AVENUE AREA,BRONX,WEST TREMONT AVENUE-SEDGWICK AVENUE AREA,None,12064286,2022-12-01,2022-09-21T00:00:00,2022-12-20T00:00:00,90,E13084395,204,Basic Water and Sewer

In [76]:
clean_data = clean_data.dropna(how='any')
na_counts = clean_data.isnull().sum()
na_counts

Development Name      0
Borough               0
Account Name          0
Location              0
UMIS BILL ID          0
Revenue Month         0
Service Start Date    0
Service End Date      0
# days                0
Meter Number          0
Consumption (HCF)     0
Rate Class            0
dtype: int64

In [77]:
len(clean_data)

49479

In [78]:
from pymongo import MongoClient
client = MongoClient("mongodb://localhost:27017")

db = client['Database']
collection = db['Water_Consumption']
records = clean_data.to_dict('records')
collection.insert_many(records)