In [61]:
import numpy as np
import pandas as pd

path = "./nyc_temp_1869_2021.csv"

with open(path, 'r') as file:
    weather_data = pd.read_csv(path)

In [62]:
na_counts = weather_data.isnull().sum()
na_counts

Unnamed: 0    0
MM/DD/YYYY    0
YEAR          0
MONTH         0
DAY           0
TMAX          0
TMIN          0
dtype: int64

In [63]:
weather_data

       Unnamed: 0  MM/DD/YYYY  YEAR  MONTH  DAY   TMAX   TMIN
0               0  1869-01-01  1869      1    1  -17.0  -72.0
1               1  1869-01-02  1869      1    2  -28.0  -61.0
2               2  1869-01-03  1869      1    3   17.0  -28.0
3               3  1869-01-04  1869      1    4   28.0   11.0
4               4  1869-01-05  1869      1    5   61.0   28.0
...           ...         ...   ...    ...  ...    ...    ...
55629       55629  2021-04-30  2021      4   30  217.0   78.0
55630       55630  2021-05-01  2021      5    1  183.0   56.0
55631       55631  2021-05-02  2021      5    2  278.0  133.0
55632       55632  2021-05-03  2021      5    3  189.0  111.0
55633       55633  2021-05-04  2021      5    4  228.0  111.0

[55634 rows x 7 columns]

In [64]:
weather_data["MM/DD/YYYY"] = pd.to_datetime(weather_data["MM/DD/YYYY"], format='%Y-%m-%d')

weather_data.dtypes
weather_data

weather_data.rename(columns={"MM/DD/YYYY": "DATE"}, inplace=True)

In [65]:
weather_data

       Unnamed: 0       DATE  YEAR  MONTH  DAY   TMAX   TMIN
0               0 1869-01-01  1869      1    1  -17.0  -72.0
1               1 1869-01-02  1869      1    2  -28.0  -61.0
2               2 1869-01-03  1869      1    3   17.0  -28.0
3               3 1869-01-04  1869      1    4   28.0   11.0
4               4 1869-01-05  1869      1    5   61.0   28.0
...           ...        ...   ...    ...  ...    ...    ...
55629       55629 2021-04-30  2021      4   30  217.0   78.0
55630       55630 2021-05-01  2021      5    1  183.0   56.0
55631       55631 2021-05-02  2021      5    2  278.0  133.0
55632       55632 2021-05-03  2021      5    3  189.0  111.0
55633       55633 2021-05-04  2021      5    4  228.0  111.0

[55634 rows x 7 columns]

In [66]:
weather_data.drop(["Unnamed: 0"], axis=1, inplace=True)

In [67]:
weather_data

            DATE  YEAR  MONTH  DAY   TMAX   TMIN
0     1869-01-01  1869      1    1  -17.0  -72.0
1     1869-01-02  1869      1    2  -28.0  -61.0
2     1869-01-03  1869      1    3   17.0  -28.0
3     1869-01-04  1869      1    4   28.0   11.0
4     1869-01-05  1869      1    5   61.0   28.0
...          ...   ...    ...  ...    ...    ...
55629 2021-04-30  2021      4   30  217.0   78.0
55630 2021-05-01  2021      5    1  183.0   56.0
55631 2021-05-02  2021      5    2  278.0  133.0
55632 2021-05-03  2021      5    3  189.0  111.0
55633 2021-05-04  2021      5    4  228.0  111.0

[55634 rows x 6 columns]

In [68]:
weather_data = weather_data.loc[(weather_data["DATE"] >'2012-12-31') & (weather_data["DATE"] < '2021-01-01')]

In [69]:
weather_data

print(weather_data.shape)

(2922, 6)

In [70]:
#dataframe conversion to list of dict
data_document=weather_data.to_dict('records')

from pymongo import MongoClient
#mongodb database connection using ip destination and port number

client=MongoClient("mongodb://localhost:27018", username='asimibushe99', password='Asim@4786')
#creating database named "DAP"
db=client["DAP"]
#creating a table name "newyork_weather in DAP databasec"
collection=db["newyork_weather"]
collection.insert_many(data_document)

ServerSelectionTimeoutError: localhost:27018: connection closed, Timeout: 30s, Topology Description: <TopologyDescription id: 644127f00671b59b7d340573, topology_type: Unknown, servers: [<ServerDescription ('localhost', 27018) server_type: Unknown, rtt: None, error=AutoReconnect('localhost:27018: connection closed')>]>